#page{
	width: 1024px;
	height: 768px;
	background-color: red;
	margin: 0 auto;
}

#pageHeader{
	background-color: blue;
	height: 268px;
}

#content {
	height: 500px;
	background-color: yellow;
}

body{
	background-color: gray;
}